doctype html
html
  head
    title Meghana Dance Academy
    block style
    block scripts
  body
    nav#navbar
      ul
        div#logo
          img(src="/static/main3.jpg")
          //- | MDA
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") services]
        li #[a(href="/") Class Info]
        li #[a(href="contact") Contact us ]
    block content
    footer#footer
      h6 copyright@2019MeghanaDanceAcademy | All rights reserved